.header {
  align-items: center;
  border-bottom: 1px solid #282c34;
  color: #282c34;
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 1rem;
  margin-bottom: 1em;
}

.main {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 0.5rem 1rem;
}

.row {
  display: flex;
}

.cell {
  width: 1em;
  height: 1em;
  border: 1px solid red;
  margin: 0.05em;
}
